<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">📖 Kids Dictionary</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true">🔍</span> Search
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="history">
                <span aria-hidden="true">🕐</span> History
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="favorites">
                <span aria-hidden="true">⭐</span> Favorites
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wordlist">
                <span aria-hidden="true">📚</span> Word List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span aria-hidden="true">🏷️</span> Categories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hangman">
                <span aria-hidden="true">🎮</span> Hangman
            </NavLink>
        </div>
    </nav>
</div>
